

.main_container { 
    width: 400px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.tictactoe_boxes { 
    width: 186px;
    height: 186px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tictactoe_box { 
    width: 60px;
    height: 60px;
    border: 1px dotted rgb(220, 220, 220);
    box-sizing: border-box;
    padding: 20px;
}
.tictactoe_box:hover { 
    background-color: rgb(250, 250, 250);
}

.messageBox { 
    width: 400px;
    height: 110px;
    margin: 0 auto;
}
.playerName { 
    margin: auto;
    font-weight: 600;
}
.scoreBoard { 
    margin: auto;
}
.messageBox button { 
    border: none;
    Background-color: navy;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
}
.messageBox button:active { 
    transform: scale(0.98)
}


.markLine { 
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translateX(-50%) translateY(-50%); */
    height: 150px;
    width: 5px;
    border-radius: 4px;
    background-color: red;
}
.col-right { 
    transform: translateX(55px) translateY(-50%)
}
.col-center { 
    transform: translateX(-50%) translateY(-50%)
}
.col-left { 
    transform: translateX(-65px) translateY(-50%)
}
.row-up { 
    transform: rotate(90deg) translateX(-135px) translateY(5px)
}
.row-center { 
    transform: rotate(90deg) translateX(-75px) translateY(5px)
}
.row-down { 
    transform: rotate(90deg) translateX(-15px) translateY(5px)
}
.diagonal-left { 
    transform: rotate(-45deg) translateX(50px) translateY(-50px) scale(1.3)
}
.diagonal-right { 
    transform: rotate(45deg) translateX(-60px) translateY(-50px) scale(1.3)
}