

.main_container { 
    width: 400px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.tictactoe_boxes { 
    width: 186px;
    height: 186px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tictactoe_box { 
    width: 60px;
    height: 60px;
    border: 1px dotted rgb(220, 220, 220);
    box-sizing: border-box;
    padding: 20px;
}
.tictactoe_box:hover { 
    background-color: rgb(250, 250, 250);
}

.messageBox { 
    width: 400px;
    height: 110px;
    margin: 0 auto;
}
.playerName { 
    margin: auto;
    font-weight: 600;
}
.scoreBoard { 
    margin: auto;
}


button { 
    border: none;
    Background-color: navy;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
}
button:active { 
    transform: scale(0.98)
}


.markLine { 
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translateX(-50%) translateY(-50%); */
    height: 150px;
    width: 5px;
    border-radius: 4px;
    background-color: red;
}
.col-right { 
    transform: translateX(55px) translateY(-50%)
}
.col-center { 
    transform: translateX(-50%) translateY(-50%)
}
.col-left { 
    transform: translateX(-65px) translateY(-50%)
}
.row-up { 
    transform: rotate(90deg) translateX(-135px) translateY(5px)
}
.row-center { 
    transform: rotate(90deg) translateX(-75px) translateY(5px)
}
.row-down { 
    transform: rotate(90deg) translateX(-15px) translateY(5px)
}
.diagonal-left { 
    transform: rotate(-45deg) translateX(50px) translateY(-50px) scale(1.3)
}
.diagonal-right { 
    transform: rotate(45deg) translateX(-60px) translateY(-50px) scale(1.3)
}






.main {
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #272727;
    overflow: hidden;
    margin: auto;
    padding: 0;
  }
  
  .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(174, 251, 65);
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #272727; */
    color: transparent;
    padding: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }


  /* ------ FORM ------ */
  .signInForm { 
    width: 250px;
    margin: 30px auto 0;

  }
  .signInForm div { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .signInForm div span { 
    width: 160px;
    
  }
  .clearUser { 
    display:inline;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(248, 60, 60);
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    /* I'm totally aware how dumb Float is, its just a minor thing, and its personal project, thats why I used float, I wanted the name to be at the center :) */
    float: right; 
  }
  .signInForm input { 
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 10px;
    height: 1.8rem;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  .signInForm label { 
    line-height: 1.9rem;
  }